.answers {
    display: flex;
    gap: 0.625rem;
}

.container {
    border-bottom: 1px solid #DBDEF0;
    padding-bottom: 1rem;
}

.questions {
    width: 500px;
    height: auto;
}

.flex__flow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding-block: 1rem;
}