#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

main {
  position: relative;
  width: 550px;
  height: 700px;
  background: url(./assets/magicpattern-blob-bottom.png) top right no-repeat,
    url(./assets/magicpattern-blob-top.png) bottom left no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}